 

 $primary-bg1:#0ce6a8fb;
$primary-bg2:linear-gradient(to top bottom,#107c4a,#10147c);     

$primary-gradient1:linear-gradient(to right top,#a7f4de,#025f29,#070ca5,#037655);
$primary-gradient2:linear-gradient(to right top,#037b59,#3a463f,#070ca5,#037655);
/* text color */
$primary-text:#07d252fb;
$secondary-text:#0ef629b3;

$text-hover:#0be9d7fb;
$black:rgb(6, 236, 56);

$project-bg:#011f31c9;
 
 $color:#0ce6a81c; 


